/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

html, body { 
  height: 100%; 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

swiper-container {
  width: 100%;
  height: 100%;
}